.counter {
    width: 300px;
    margin: 0 auto;
    background-color: black;
    color: wheat;
    text-align: center;
    padding: 50px;
}

.counter span {
    display: block;
    font-size: 3em;

}

.counter button {
    padding: 20px;
    font-size: 2em;
}